*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary_color:#94986c;
}

html{
  scroll-behavior: smooth;
  

}
/* body{
  margin: 0 auto;
  
} */
 .header-1{
  background-color: #ffffff;
  position: sticky;
  top: 0px;
 }
header{
  height: 80px;
  width: 75vw;
  display: flex;
  align-items: center;
 justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
}
.logo{
  font-size: 24px;
  font-weight: 900;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.nav-item a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: black;
  position: relative;
  font-family: 'poppings'sans-serif;
  
}
a::after{
  content: "";
  background-color: #94986c;
  height: 1.5px;
  width: 0;
  position: absolute;
  left: 0px;
  bottom: -1px;
  transition: 0.4s;
}
a:hover::after{
  width: 100%;
}
.section-1{
  height: 70vh;
  line-height: 40px;
  margin:0 auto;
  padding-top: 150px;
  width: 75%;
}
.chan{
  font-family: 'popping'sans-serif;
  color: #b1b493;
  font-size: 14px;
  font-weight: 550;
  padding-bottom: 20px;
  letter-spacing: 3px;
}
.dhru{
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 30px;
}
.hire{
  padding: 6px 8px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 3px;
  border: 1px white;
}
.hire:hover{
  color: #b1b493;
  background-color: white;
  border: #b1b493 solid 2px;
}
.down{
  padding: 6px;
  color: #b1b493;
  border-radius: 3px;
  border: #b1b493 solid 2px;
}
.down:hover{
  background-color: var(--primary_color);
  color: white;
}
.icons{
  margin-top: 50px;
  background-color: #f8f9fa;
width: 100%;
  }
  .fit{
    width: 75%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
   gap: 60px;

  margin:  auto;
padding-top:70px;
padding-bottom: 70px;
  }
.uu{
    display: flex;
    align-items: center;
gap: 10px;
}
.uu i{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--primary_color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Intro{
  display: flex;
  margin-top: 30px;
 justify-content: center;
  width: 75vw;
  gap: 30px;
  margin: 0 auto;
  flex-wrap: wrap;
  }
  .Intro p{
    color: #9b9b9b;
  }
  .me{
    margin-bottom: 20px;
    color: #94986c;
    font-family: Arial, Helvetica, sans-serif;
  }
  .about-list{
    margin-top: 60px;
  }
  .me-2{
margin-bottom: 25px;
font-size: 34px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
  }
  .Intro ul{
      line-height: 40px;
      list-style: none;
      margin-top: 20px;
  }
  .Intro span{
      font-size: 16px;
      font-weight: 700;
      color: #94986c;
  }
  .img-div{
    width: 400px;
    height: 650px;
    margin: 0 auto;
    box-shadow: -4px 0px 10px #9b9b9b;
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit:fill;
  }
  .hoby i{
      border: 1px solid white;
      border-radius: 20px;
      width: 25px;
      height: 25px;
      background-color: var(--primary_color);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f8f9fa;
      font-size: 12px;
  }
  .hoby{
      display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  margin-top: 30px;
  }
.music{
  display: flex;
  align-items: center;
  gap: 8px;

}
.music div{
  font-size:26px;
  color: #94986c;
}
.grid{
  background-color: #f8f9fa;
  width: 98vw;
  text-align: center;
  padding-top:80px;
  margin-bottom: 144px;
}
.grid h2{
  padding-bottom: 40px;
  padding-top: 20px;
  font-size: 34px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-sk{
  color: #b1b493;
  font-family: Arial, Helvetica, sans-serif;
}
.grid p{
  color: #9b9b9b;
  padding-bottom: 30px;
}
.grid-container{
  width: 75%;
  margin: 0 auto;
  background-color: #f8f9fa;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-bottom: 144px;
}
.grid-item{
  width: 325px;
  height: 320px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 35px #dddedf;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-item i{
 margin-top: 80px;
 font-size: 85px;
}
.project{
  width: 100%;
min-height: 200px;
  background-color: #b1b493;
  
}
.project div{
  width: 75%;
  margin: 0 auto;
  text-align: start;
}
.con-button{
  background-color: white;
  padding: 16px 24px;
  border-radius: 5px;
  border: white 1px solid;
  color: #94986c;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 18px;
}
.project h2{
  color: white;
  padding-bottom: 25px;
  font-size: 34px;
  font-weight: 700;
}
.project p{
  padding-bottom: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.img-grid{
  width:100%;
}
.img-grid-1 h3{
  padding-top: 80px;
text-align: center;
padding-bottom: 20px;
color: #94986c;
}
.img-grid-1 h2{
  text-align: center;
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: 600;
}
.img-grid-1 p{
  text-align: center;
  padding-bottom: 50px;
  color: #9b9b9b ;
}
.img-grid-1{
  width: 95%;
  margin: 0 auto;
}
.imges{
  height: 530px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}
.img-1{
  background-color: #94986c;
border-radius: 5px;
}
.one-step{
  width: 98vw;
  background-color: white;
}
.from-logo{
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
flex-wrap: wrap;
}
.one-step h3{
 padding-top: 144px; 
 padding-bottom: 20px;
 color: #b1b493;
 text-align: center;
}
.one-step h1{
  padding-bottom: 25px;
  font-size: 34px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.one-step p{
  padding-bottom: 60px;
  text-align: center;
}
.name{
  height: 46px;
  width: 302px;
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}
.email{
  height: 46px;
  width: 308px;
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}
.subject{
width: 630px;
  height: 46px;
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}
.message{
width: 630px;
  height: 171px;
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}
input:focus{
  outline:#b1b493 ;
}
form{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  margin-top: 20px;
 width:690px;
 background-color: #f8f9fa;
 padding: 30px;
}
.submit{
  padding: 15px 30px;
  background-color: #94986c;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.icon-2{
  display: flex;
  flex-direction: column;
  gap:35px;
}
.icons-item{
  display: flex;
  gap:10px;
}
.add-1{
  text-align: left;
  display: flex;
  flex-direction: column;
}
.icons-item i{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1b493;
  color: white;
}
.span-1{
  font-size: 18px;
  font-weight: 600;
  color:black;
}
.span-2{
  color:#94986c;
}
footer{
  background-color: #232931;
  min-height: 600px;
  width: 100%;
  margin-top: 40px;
}
.footer-1{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding:80px;
  flex-wrap: wrap;
}
.footer-1 .kalam2{
  color: #ffffff;
  padding-bottom: 40px;
}
.last{
  color: #b4bfc2;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.let{
  padding: 8px;
  background-color: #94986c;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.link-1{
  display: flex;
  gap: 10px;
  padding: 8px;
  color: #919498;
}
.ww h2{
color: white;
padding-bottom: 40px;
}
.awq h2{
  color: white;
  padding-bottom: 25px;
}
.thiru{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  color: #919498;
}
.oo{
  display: flex;
  gap:10px;
  padding-top: 10px;
}
.oo i{
  border-radius: 30px;
  width: 30px;
  height: 30px;
  color:#94986c;
  background-color: #393f46;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy{
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-left: 160px;
}
