@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary_color: #94986c;
}

html {
  scroll-behavior: smooth;


}

/* body{
  margin: 0 auto;
  
} */
.header-1 {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background-color: white;
}

header {
  height: 80px;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.nav-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: black;
  position: relative;
  font-family: 'poppings' sans-serif;

}

a::after {
  content: "";
  background-color: #94986c;
  height: 1.5px;
  width: 0;
  position: absolute;
  left: 0px;
  bottom: -1px;
  transition: 0.4s;
}

a:hover::after {
  width: 100%;
}

.section-1 {
  height: 70vh;
  line-height: 40px;
  margin: 0 auto;
  padding-top: 150px;
  width: 75%;
}

.bg {
  background-image: url(bi-1.png);
  background-size: cover;
  height: 80dvh;
}

.chan {
  font-family: 'popping' sans-serif;
  color: #b1b493;
  font-size: 14px;
  font-weight: 550;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.dhru {
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 30px;
}

.hire {
  padding: 6px 8px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 3px;
  border: 1px white;
  font-weight: 500;
  cursor: pointer;
}

.hire:hover {
  color: #b1b493;
  background-color: white;
  border: #b1b493 solid 2px;
}

.down {
  padding: 6px;
  color: #b1b493;
  border-radius: 3px;
  border: #b1b493 solid 2px;
  font-weight: 500;
  cursor: pointer;
}

.down:hover {
  background-color: var(--primary_color);
  color: white;
}

.icons {
  background-color: #f8f9fa;
  width: 100%;
}

.fit {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.uu {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.uu i {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #b1b493;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uu div{
  display: flex;
  flex-direction: column;
}
.Intro {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 75%;
  gap: 30px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.uu .span-1{
  color: #323232;
  font-weight: 700;
  font-size: 24px;
}
.uu .span-3{
  color: #b4b797;
  font-size: 14px;
  font-weight: 600;
}
.Intro p {
  color: #9b9b9b;
}

.me {
  padding-top: 35px;
  margin-bottom: 10px;
  color: #b1b493;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
}

.about-list {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 600;
}

.about-list p {
  font-size: 14px;
  font-weight: 400;
}

.me-2 {
  margin-bottom: 25px;
  font-size: 29px;
  font-weight: 600;
}

.Intro ul {
  line-height: 40px;
  list-style: none;
  margin-top: 20px;
}

.Intro span {
  font-size: 15px;
  font-weight: 600;
  color: #b1b493;
}

.img-div {
  width: 420px;
  height: 680px;
  margin: 0 auto;
  box-shadow: -4px 0px 10px #9b9b9b;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hoby i {
  border: 1px solid white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  font-size: 12px;
}

.hoby h3 {
  font-size: 15px;
  font-weight: 600;
}

.hoby {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.music {
  display: flex;
  align-items: center;
  gap: 8px;

}

.music div {
  font-size: 26px;
  color: #94986c;
}

.grid {
  background-color: #f8f9fa;
  width: 98vw;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 144px;
}

.grid h2 {
  padding-bottom: 40px;
  font-size: 34px;
  font-weight: 600;

}

.grid-sk {
  color: #b1b493;
  padding: 50px 0px 10px;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 3px;
}

.grid p {
  color: #9b9b9b;
  padding-bottom: 30px;
  font-size: 15px;
}

.grid-container {
  width: 75%;
  margin: 0 auto;
  background-color: #f8f9fa;
  gap:20px;
  margin-bottom: 144px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  min-height: 580px;
  font-size: 16px;
  font-weight: 600;
}
.grid-item{
  background-color: white;
  box-shadow: 0px 5px 5px 5px #dfe0e1;
  border-radius: 5px;

}
.grid-item h3{
  padding-top: 30px;
}
.grid-icon{
  padding-top: 50px;
  font-size: 40px;
}
.project {
  width: 100%;
  min-height: 200px;
  background-color: #b1b493;
}

.project div {
  width: 75%;
  margin: 0 auto;
  text-align: start;
}

.con-button {
  background-color: white;
  padding: 16px 24px;
  border-radius: 5px;
  border: white 1px solid;
  color: #94986c;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 500;
}

.project h2 {
  color: white;
  padding: 15px 0px 15px;
  font-size: 34px;
  font-weight: 600;
}

.project p {
  padding-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.img-grid {
  width: 100%;
}

.img-grid-1 h3 {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 20px;
  color: #94986c;
}

.img-grid-1 h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: 600;
}

.img-grid-1 p {
  text-align: center;
  padding-bottom: 50px;
  color: #9b9b9b;
}

.img-grid-1 {
  width: 95%;
  margin: 0 auto;
}

.imges {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 25px;
  min-height: 530px;
}

.img-1 {
  background-color: #94986c;
  border-radius: 5px;
}
.one-step {
  width: 98vw;
  background-color: white;
}

.from-logo {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img-1:hover{
  background-color: #919498;
  
}
.one-step h3 {
  padding-top: 144px;
  padding-bottom: 20px;
  color: #b1b493;
  text-align: center;
}

.one-step h1 {
  padding-bottom: 25px;
  font-size: 34px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.one-step p {
  padding-bottom: 60px;
  text-align: center;
}

.name {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  width:283px;
}

.email {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  width: 283px;
}

.subject {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}

.message {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  height: 200px;
}

input:focus {
  outline: #b1b493;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 690px;
  background-color: #f8f9fa;
  padding: 20px 0px 20px 30px;
}
.form-8{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
input {
  width: 90%;
}

.submit {
  padding: 15px 30px;
  background-color: #b1b493;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width:200px;
  font-weight: 500;
}

.icon-2 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: flex-start;
}

.icons-item {
  display: flex;
  gap: 15px;
}

.add-1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.icons-item i {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1b493;
  color: white;
}

.span-1 {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.span-7{
  color: #919498;
  font-size: 14px;
}
.span-2 {
  color: #94986c;
  font-size: 14px;
}

footer {
  background-color: #232931;
  min-height: 600px;
  width: 100%;
  margin-top: 40px;
}

.footer-1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  flex-wrap: wrap;
}

.footer-1 .kalam2 {
  color: #ffffff;
  padding-bottom: 40px;
}

.last {
  color: #b4bfc2;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.let {
  padding: 8px;
  background-color: #b1b493;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.link-1 {
  display: flex;
  gap: 10px;
  padding: 8px;
  color: #919498;
}

.ww h2 {
  color: white;
  padding-bottom: 40px;
}

.awq h2 {
  color: white;
  padding-bottom: 25px;
}

.thiru {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  color: #919498;
}

.oo {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.oo i {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  color: #b0b2b5;
  background-color: #393f46;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-left: 160px;
}
@media (max-width:760px){
 form{
  width: 90%;
 }
 .footer-1{
  margin-left: 0;
  gap: 30px;
 }
 .copy{
  padding-left: 10px;
 }
 .img-1{
  height: 200px;
 }
}
@media(max-width:1024px){
  .grid-item{
    width: 100%;
   }
   .name{
    width: 100%;
   }
   .email{
    width: 100%;
   }
   .grid-item i{
    padding-top: 30px;
   }
   .grid-item{
    height: 250px;
   }
}