@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary_color: #94986c;
}

html {
  scroll-behavior: smooth;


}

/* body{
  margin: 0 auto;
  
} */
.header-1 {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 20
}

header {
  height: 80px;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.nav-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: black;
  position: relative;
  font-family: 'poppings' sans-serif;

}

a::after {
  content: "";
  background-color: #94986c;
  height: 1.5px;
  width: 0;
  position: absolute;
  left: 20px;
  bottom: -1px;
  transition: 0.5s;
}

a:hover::after {
  width: 100%;
  left: 0px;
}

.section-1 {
  height: 70vh;
  line-height: 40px;
  margin: 0 auto;
  padding-top: 250px;
  width: 75%;
  z-index: 5;
}

.gif-img {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 0;
}

.bg {
  background-image: url(bi-1.png);
  background-size: cover;
  height: 80dvh;
  position: relative;
}

.chan {
  font-family: 'popping' sans-serif;
  color: #b1b493;
  font-size: 14px;
  font-weight: 550;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.dhru {
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 30px;
}

.hire {
  padding: 6px 8px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 3px;
  border: 1px white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

.hire:hover {
  color: #b1b493;
  background-color: white;
  border: #b1b493 solid 2px;
}

.down {
  padding: 6px;
  color: #b1b493;
  border-radius: 3px;
  border: #b1b493 solid 2px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

.down:hover {
  background-color: var(--primary_color);
  color: white;
}

.icons {
  background-color: #f8f9fa;
  width: 100%;
}

.fit {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.uu {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.uu i {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #b1b493;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uu div {
  display: flex;
  flex-direction: column;
}

.Intro {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 75%;
  gap: 30px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.uu .span-1 {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
}

.uu .span-3 {
  color: #b4b797;
  font-size: 14px;
  font-weight: 600;
}

.Intro p {
  color: #9b9b9b;
}

.me {
  padding-top: 35px;
  margin-bottom: 10px;
  color: #b1b493;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
}

.about-list {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 600;
}

.about-list p {
  font-size: 14px;
  font-weight: 400;
}

.me-2 {
  margin-bottom: 25px;
  font-size: 29px;
  font-weight: 600;
}

/* .Intro ul {
  line-height: 40px;
  list-style: none;
  margin-top: 20px;
} */
.list-container {
  display: flex;
  line-height: 40px;
  margin-top: 30px;
  gap: 20px
}

.list-container ul {
  list-style-type: none;
}

.list-2 {
  color: #b1b493;
  font-weight: 600;
}

.Intro span {
  font-size: 15px;
  font-weight: 600;
  color: #b1b493;
}

.img-div {
  width: 420px;
  height: 680px;
  margin: 0 auto;
  box-shadow: -4px 0px 10px #9b9b9b;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hoby i {
  border: 1px solid white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  font-size: 12px;
}

.hoby h3 {
  font-size: 15px;
  font-weight: 600;
}

.hoby {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.music {
  display: flex;
  align-items: center;
  gap: 8px;
  border-left: #b1b493 2px solid;
  padding-left: 10px;
}

.music i {
  font-size: 13px;
  color: #94986c;
  padding: 10px;
  border-radius: 38px;
  color: #232931;
}

.grid {
  background-color: #f8f9fa;
  width: 98vw;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 144px;
}

.grid h2 {
  padding-bottom: 40px;
  font-size: 34px;
  font-weight: 600;

}

.grid-sk {
  color: #b1b493;
  padding: 50px 0px 10px;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 3px;
}

.grid p {
  color: #9b9b9b;
  padding-bottom: 30px;
  font-size: 15px;
}

.grid-container {
  width: 75%;
  margin: 0 auto;
  background-color: #f8f9fa;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-size: 16px;
  font-weight: 600;
}

.grid-item {
  background-color: white;
  box-shadow: 0px 5px 5px 5px #dfe0e1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding-top: 30px;
  width: 320px;
}

.grid-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: 0px solid rgb(87, 86, 86);
  color: black;
  font-size: 90px;
  padding-top: 80px;
}

.html {
  color: #9c9c9c;
}

.css {

  color: #b1b493;
}

.js {
  color: #9c9c9c;
}

.bs {
  color: #b1b493;
}

.python {
  color: #b1b493;
}

.percentage {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-right: 35px;
  padding-top: 80px;

}

.per-1 {
  display: flex;
  flex-direction: column;
}

.per-2 {
  border-right: 2px #dee2e6 solid;
  width: 130px;
}

.per-pro {
  color: #b1b493;
  font-weight: 700;
  font-size: 20px;
}

.per-pros {
  color: #9c9c9c;
  font-size: 12px;
}

.tom {
  margin-right: 50px;
}

.project {
  width: 100%;
  min-height: 200px;
  background-color: #b1b493;

}

.project .tam-flex {
  width: 90%;
  margin: 0 auto;
  text-align: start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-img {
  width: 100%;
  height: 100%;
}

.con-button {
  background-color: white;
  padding: 16px 24px;
  border-radius: 5px;
  border: white 1px solid;
  color: #94986c;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 500;
}

.project h2 {
  color: white;
  padding: 15px 0px 15px;
  font-size: 34px;
  font-weight: 600;
}

.project p {
  padding-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.img-grid {
  width: 100%;
}

.img-grid-1 h3 {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 20px;
  color: #94986c;
}

.img-grid-1 h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: 600;
}

.img-grid-1 p {
  text-align: center;
  padding-bottom: 50px;
  color: #9b9b9b;
}

.img-grid-1 {
  width: 95%;
  margin: 0 auto;
}

.imges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 25px;
  min-height: 230px;
  width: 80%;
  margin: 0 auto;
}

.read {
  margin-left: 120px;
  padding-bottom: 20px;
  opacity: 0;
  transition: all 0.8s;

}

.img-1 a {
  text-decoration: none;
}

.img-1 {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #94986c;
  transition: all 0.8s;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.img-2 {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #94986c;
  transition: all 0.8s;
  min-height: 150px;
}

.img-3 {
  padding: 10px 15px;
  border-radius: 10px;
  width: 50%;
  height: 80%
}

.one-step {
  width: 98vw;
  background-color: white;
}

.one-step h3 {
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 12px;
}

.one-step p {
  color: #949494;
}

.from-logo {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.img-1:hover {
  background-color: #f9dd3f;
  box-shadow: 2px 2px 5px #919498;
  padding-bottom: 40px;

  .read {
    opacity: 1;
    color: #faafaf;
    width: 250px;
    height: 60px;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    background-color: #f4f1e6;
    border-radius: 10px;

  }

  .project-img {
    border-radius: 15px;
  }

  .para-hover:hover {
    padding-top: 60px;
    color: #faafaf;
  }

  .read:hover {
    background-color: white;
    color: #37af9a;
  }
}
.img-canva img{
  width: 100%;
  height: 100%;
}
.img-canva{
  width: 90%;
  height: 100px;
  padding-left: 20px;
}
.canva-p{
  padding-top: 20px;
}
.learn{
  margin-left: 120px;
  padding: 10px;
  opacity: 0;
  width:40%;
  transition: all 0.8s;
margin-bottom: 30px;
padding-left: 40px;
}
.learn:hover{
  opacity: 1;
  border: 1px black solid;
  background-color: #01bdcf;
}
.para-hover {
  padding-top: 30px;
  transition: all 0.8s;

}
.img-2:hover{
  background-color: #7e25e8;
  .learn{
    opacity: 1;
    border: 1px black solid;
    background-color: #01bdcf;
    color: white;
    border-radius: 5px;
  }
  .canva-p{
    color: white;
  }
}
.img-3 {
  transition: all 0.8s;
}

.img-3:hover {
  padding-top: 60px;
  border-radius: 15px;
}

.one-step h3 {
  padding-top: 144px;
  padding-bottom: 20px;
  color: #b1b493;
  text-align: center;
}

.one-step h1 {
  padding-bottom: 25px;
  font-size: 34px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.one-step p {
  padding-bottom: 60px;
  text-align: center;
}

.name {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  width: 283px;
}

.email {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  width: 283px;
}

.subject {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
}

.message {
  border: 2px #b1b493 solid;
  padding: 15px;
  border-radius: 2px;
  height: 200px;
}

input:focus {
  outline: #b1b493;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  width: 690px;
  background-color: #f8f9fa;
  padding: 20px 0px 20px 30px;
}

.form-8 {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

input {
  width: 90%;
}

.submit {
  padding: 15px 30px;
  background-color: #b1b493;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 200px;
  font-weight: 500;
}

.icon-2 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: flex-start;
}

.icons-item {
  display: flex;
  gap: 15px;
}

.add-1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.icons-item i {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1b493;
  color: white;
}

.span-1 {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.span-7 {
  color: #919498;
  font-size: 14px;
}

.span-2 {
  color: #94986c;
  font-size: 14px;
}

footer {
  background-color: #232931;
  min-height: 600px;
  width: 100%;
  /* margin-top: 40px; */
}

.footer-1 {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  flex-wrap: wrap;
}

.footer-1 .kalam2 {
  color: #ffffff;
  padding-bottom: 40px;
}

.last {
  color: #bdbfc2;
  line-height: 25px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.let {
  padding: 8px;
  background-color: #b1b493;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.link-1 {
  display: flex;
  gap: 10px;
  padding: 8px;
  color: #919498;
}

.link-1 a {
  color: #919498;
  text-decoration: none;
}

.ww h2 {
  color: white;
  padding-bottom: 40px;
}

.awq h2 {
  color: white;
  padding-bottom: 25px;
}

.thiru {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  color: #919498;
}

.oo {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.oo i {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  color: #b0b2b5;
  background-color: #393f46;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-map {
  color: white;
}

.copy {
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-left: 160px;
}

@media (max-width:760px) {
  form {
    width: 100%;
  }

  .name,
  .email {
    width: 100%;
  }
form input{
  width: 200px;
}
  .footer-1 {
    margin-left: 0;
    gap: 30px;
  }

  .copy {
    padding-left: 10px;
  }

  .imges {
    margin-left: 20px
  }

  .img-1 {
    height: 1500px;
    flex-wrap: wrap;
    width: 60%;
  }


  .img-3 {
    width: 100%;
    height: 60%;
    ;
  }

  .project-img {
    width: 100%;

  }

  footer {
    margin-top: 30px;
  }

  .icon-2 {
    margin-top: 20px;
  }

  .grid-container {
    margin-left: 32px;
  }

 

  .gif-img {
    margin-left: 100px;
    overflow: hidden;
    opacity: 0;
  }

  .para-hover {
    padding-left: 30px;
  }
  .img-2{
    height: 450px;
    width:60%;
  }
}

@media(max-width:1024px) {
  header {
    background-color: black;
  }

  .header-1 {
    background-color: black;
    color: white;
  }

  .nav-item a {
    color: white;
  }

  .grid-item {
    width: 100%;
  }

  .name {
    width: 100%;
  }

  .email {
    width: 100%;
  }

  .grid-item i {
    padding-top: 30px;
  }

  .grid-item {
    height: 250px;
  }

  .percentage {
    padding-top: 50px;
  }

  .fa-brands {
    padding-top: 0px;
  }

  .html {
    padding-top: 0px;
  }

  .fa-css3-alt {
    padding-top: 0px;
  }

  .img-1 {
    height: 800px;
  }
}